<div class="password-reset-content" *ngIf="viewReady">
    <form [formGroup]="resetPasswordForm" novalidate>
        <mat-card class="password-reset-card">
            <mat-card-header>
                <mat-card-title>Reset password (Step {{ passwordStep ? '2' : '1' }} of 2)</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="column" gdAlignRows="center center" fxLayoutGap="20px">
                    <!-- Username controls -->
                    <ng-container *ngIf="!passwordStep">
                        <app-text-error [errors]="errors"></app-text-error>
                        <p>
                            Please enter your Username and verify that you are not a robot.
                        </p>
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="" formControlName="username" required aria-required="true" appFocusElement>
                            <mat-icon matPrefix>person</mat-icon>
                            <mat-error *ngIf="username.invalid">Username is required</mat-error>
                        </mat-form-field>
                        <ng-template *ngIf="captchaRequired" [cdkPortalOutlet]="captchaPortal" (attached)="receiveReference($event)"></ng-template>
                    </ng-container>
                    <!-- End Username controls -->
                    <!-- Token and new passowrd controls -->
                    <ng-container *ngIf="passwordStep">
                        <app-text-error [errors]="errors"></app-text-error>
                        <p>
                            A token has been sent to your email address. Please enter your 8-digit token number below to reset your password.
                        </p>
                        <mat-form-field appearance="outline">
                            <mat-label>Token</mat-label>
                            <input matInput placeholder="" formControlName="token" required appFocusElement>
                            <mat-icon matPrefix>local_offer</mat-icon>
                            <mat-error *ngIf="token.invalid">Token is required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="" formControlName="password" type="password" required appValidateEqual="confirmation" reverse="true">
                            <mat-icon matPrefix>vpn_key</mat-icon>
                            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
                            <mat-error *ngIf="password.hasError('minlength')">Must be at least {{passMinLen}} characters long.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confim Password</mat-label>
                            <input matInput placeholder="" formControlName="confirmation" type="password" required appValidateEqual="password">
                            <mat-icon matPrefix>vpn_key</mat-icon>
                            <mat-error *ngIf="confirmation.hasError('required')">Confirm Password is required.</mat-error>
                            <mat-error *ngIf="confirmation.hasError('noMatch')">Password and confirm password does not match.</mat-error>
                        </mat-form-field>
                        <!-- Passowrd requirements -->
                        <div class="pwd-req-container">
                          <p>
                              <strong>Password Requirements</strong>
                          </p>
                          <ol>
                              <li>Must be at least {{passMinLen}} characters long.</li>
                              <li>Cannot be the same as your last twelve passwords.</li>
                              <li>
                                  <div>
                                      Must contain any three of the following:
                                  </div>
                                  <div>
                                      <ul>
                                          <li><span>Uppercase characters</span></li>
                                          <li><span>Lowercase characters</span></li>
                                          <li><span>Numeric characters</span></li>
                                          <li><span>Symbol characters</span></li>
                                      </ul>
                                  </div>
                              </li>
                          </ol>
                        </div>
                        <!-- End Passowrd requirements -->
                    </ng-container>
                    <!-- End Token and new passowrd controls -->
                    <!-- Acctions buttons -->
                    <button mat-flat-button color="primary" type="submit" [disabled]="username.invalid || (captchaRequired && !captchaSolved)"
                        (click)="doRequestToken(username)" *ngIf="!passwordStep">
                        Next<mat-icon matPrefix class="md-18">navigate_next</mat-icon>
                    </button>
                    <button mat-flat-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid || loading"
                        *ngIf="passwordStep" (click)="doPasswordReset(resetPasswordForm.value)">Reset Password
                    </button>
                    <!-- End Acctions buttons -->
                    <!-- Links -->
                    <app-auth-actions [passwordResetActions]="true"></app-auth-actions>
                    <!-- End Links -->
                </div>
            </mat-card-content>
        </mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </form>
</div>
