<div class="print-header">
  <div fxLayout="row">
      <div class="left-header">
          LexisNexis &reg;
          Insider Threat
      </div>
      <div class="right-header" fxFlex fxLayout fxLayoutAlign="end center">
          <img src="assets/images/LNRS-Whiteout.svg" alt="Insider Threat - LexisNexis">
      </div>
  </div>
</div>
<table aria-describedby="print-header-space">
  <thead>
      <tr>
          <td>
              <div class="print-header-space"></div>
          </td>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>
              <router-outlet></router-outlet>
          </td>
      </tr>
  </tbody>
</table>
