<div *ngIf="data.loading" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner strokeWidth="2" diameter="50"></mat-spinner>
</div>
<div *ngIf="!data.loading">
  <h3 mat-dialog-title *ngIf="data.title">{{data.title}}</h3>
  <mat-dialog-content class="mat-typography">
    <mat-icon *ngIf="data.icon">{{ data.icon }}</mat-icon>
    {{ data.message }}
  </mat-dialog-content>
  <mat-dialog-actions>
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center" fxFlex>
      <button mat-flat-button color="primary" type="submit" (click)="ok()" *ngIf="data.OK">{{data.OK}}</button>
      <button mat-flat-button color="primary" type="submit" (click)="accept()"
        *ngIf="data.ACCEPT">{{data.ACCEPT}}</button>
      <button mat-stroked-button type="button" (click)="cancel()" *ngIf="data.CANCEL">{{data.CANCEL}}</button>
    </div>
  </mat-dialog-actions>
</div>
