<form [formGroup]="resetPasswordForm" novalidate *ngIf="viewReady">
  <mat-card class="change-password-card">
    <mat-card-header>
      <mat-card-title>Change password</mat-card-title>
    </mat-card-header>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card-content>
      <div *ngIf="resetSuccess" fxLayout="column" fxLayoutGap="20px">
        <p class="change-password-success-msg">
          <mat-icon class="md-24">done</mat-icon>Your password has been updated
          successfully.
        </p>
        <button mat-flat-button color="primary" type="submit" [routerLink]="[routeAfter]">
          Go to Search
        </button>
      </div>
      <div *ngIf="!passwordStep && !resetSuccess">
        <div *ngIf="errors.length">
          <app-text-error [errors]="errors"></app-text-error>
        </div>
        <p>By clicking the button below an email will be sent to you with a unique token and instructions to reset your password.<p>
        <br>
        <p>If you don't get an email:</p>
        <ul>
          <li>Check your Spam or Bulk Mail folders</li>
          <li>Add <strong>noreply@lexisnexisrisk.com</strong> to your address book.</li>
          <li>Check all email addresses you might've used to sign up or sign in to your account.</li>
        </ul>
        <button mat-flat-button color="primary" type="submit" (click)="requestResetToken()" [disabled]="loading">
          Request Reset Token
        </button>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" *ngIf="passwordStep">
        <div fxFlex="60" fxLayout="column" fxLayoutGap="20px">
          <p class="change-password-info-msg">
            A token has been sent to your email address. Please enter the token
            below to reset your password.
          </p>
          <div *ngIf="errors.length && !resetSuccess">
            <app-text-error [errors]="errors"></app-text-error>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Token</mat-label>
            <input matInput placeholder="" formControlName="token" required appFocusElement/>
            <mat-icon matPrefix>local_offer</mat-icon>
            <mat-error *ngIf="token.invalid">Token is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="" formControlName="password" type="password" required appValidateEqual="confirmation" reverse="true"/>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Must be at least {{passMinLen}} characters long.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Confim Password</mat-label>
            <input matInput placeholder="" formControlName="confirmation" type="password" required appValidateEqual="password"/>
            <mat-icon matPrefix>vpn_key</mat-icon>
            <mat-error *ngIf="confirmation.hasError('required')">Confirm Password is required.</mat-error>
            <mat-error *ngIf="confirmation.hasError('noMatch')">Password and confirm password does not match.</mat-error>
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit" [disabled]="loading"
            (click)="doPasswordReset($event)">
            Reset Password
          </button>
        </div>
        <div fxFlex="40" gdAlignRows="center center" class="pwd-req-container">
          <p><strong>Password Requirements</strong></p>
          <ol>
            <li>Must be at least {{passMinLen}} characters long.</li>
            <li>Cannot be the same as your last twelve passwords.</li>
            <li>
              <div>
                Must contain all four of the following:
              </div>
              <div>
                <ul>
                  <li><span>Uppercase characters</span></li>
                  <li><span>Lowercase characters</span></li>
                  <li><span>Numeric characters</span></li>
                  <li><span>Symbol characters</span></li>
                </ul>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
