<div class="error-dialog">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="center" fxFlex>
      <mat-icon *ngIf="data.icon" aria-hidden="false" aria-label="Error icon">{{data.icon}}</mat-icon>
      <ng-container *ngIf="data.message">
        <p>{{data.message}}</p>
      </ng-container>
      <ng-container *ngIf="!data.message && data.errors">
        <p *ngFor="let error of data.errors">
              {{error.message}}
            <span *ngIf="data.codes[error.code]"> <br /> <br />
              {{data.codes[error.code]}}
            </span>
        </p>
      </ng-container>
    </div>
  </div>
  <div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex>
      <button class="mat-warn" mat-button (click)="close()">{{data.btnText}}</button>
    </div>
  </div>
</div>
